<%- include('./layouts/header.ejs') %>

<div class="container" id="app">
    <div class="card">
        <h4 class="card-header"><%= message %> </h4>
        <div class="card-body">
            <button @click="onShowUserId()" class="btn btn-primary">ขอดู UserId</button>
        </div>
    </div>
</div>
<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
<script src="/lift.js"></script>
<%- include('./layouts/footer.ejs') %>