<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fa fa-code"></i> NestJS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/one">
                        <i class="fa fa-list"></i> หน้าหนึ่ง
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/two">
                        <i class="fa fa-address-book" aria-hidden="true"></i> หน้าสอง
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/three">
                        <i class="fa fa-optin-monster" aria-hidden="true"></i> หน้าสาม
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/four">
                        <i class="fa fa-file" aria-hidden="true"></i> หน้าสี่
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>